:root {
    --color-bg-light: #ffffff;
    --color-bg-soft: #efeffe;
    --color-surface: #e0e0fc;
    --color-primary-light: #c1c1f9;
    --color-primary: #6363f1;
    --color-primary-dark: #4c3df2;
    --color-secondary: #8282f4;
    --color-accent: #a1a1f7;
    --color-text: #2a2a79;
    --color-text-muted: #212165;
    --color-text-invert: #ffffff;
    --color-bg-dark: #171751;
    --color-bg-darker: #0e0e3d;
    --color-bg-black: #000000;
    --color-purple-base-dark: #7928ff;
    --color-purple-base-light: #a68cff;
    --color-purple-text: #a78bfa;
    --color-purple-text-hover: #c4b5fd;
    --color-purple-button: #7c3aed;
    --color-purple-button-hover: #8b5cf6;
    --color-purple-button-active: #623ea0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/images/background.png');
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding: 50px 0;
}

.project-handover {
    width: 1000px;
    height: 852px;
    background-color: #00000081;
    border-radius: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.inner-project-handover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}

.inner-project-handover.container {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
} 

textarea {
    transition: outline 0.2s ease;
}

textarea:hover {
    outline: 1px solid var(--color-purple-base-dark);
}

textarea:focus {
    outline: 3px solid var(--color-purple-base-dark);
}

.project-handover-title {
    color: var(--color-bg-light);
    font-size: 48px;
    font-weight: 600;
}

.project-handover-body {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
}

.project-handover-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-handover-label {
    font-size: 28.8px;
    color: var(--color-bg-light);
    font-weight: 400;
}

.project-handover-textarea {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-surface);
    color: var(--color-text);
    padding: 9px 24px;
    font-size: 16px;
    font-weight: 500;
    resize: none;
}

.project-handover-note {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-surface);
    color: var(--color-text);
    padding: 9px 24px;
    font-size: 16px;
    font-weight: 500;
}

.project-handover-upload {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-handover-upload-box {
    display: flex;
    justify-content: space-between;
}

.upload-box-button {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    box-shadow: 5px 4px 9px -3px var(--color-surface);
    transition: all 0.6s ease;
}

.upload-box-button:hover {
    filter: brightness(1.1);
}

.upload-box-button:active {
    animation: up 10s ease-in;
}

@keyframes up {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.upload-box-list {
    max-width: 580px;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #00000081;
    border-radius: 10px;
    place-items: center;
}

.upload-item {
    background-color: var(--color-bg-soft);
    width: 254px;
    height: 39.5px;
    border-radius: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
}

.upload-item:hover {
    transform: scale(1.05);
}

.upload-item-info {
    display: flex;
    gap: 6px;
    align-items: center;
}

.upload-item-name {
    font-size: 20px;
    font-weight: 400;
}

.upload-item-success {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #027A48;
    opacity: 80%;
}

.upload-item-error {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D92D20;
    opacity: 80%;
}

.upload-item-pending {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FDB022;
    opacity: 80%;
}

.project-handover-submit {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 400px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease;
}

.project-handover-submit:hover {
    background: var(--color-purple-button-hover);
}

.project-handover-submit:active {
    background: var(--color-purple-button-active);
}

/* @media (max-width: 1360px) {
    .project-handover {
        transform: scale(0.5);
    }
} */