:root {
    --color-primary: #6363F1;
    --color-bg-light: #ffffff;
    --color-surface: #E0E0FC;
    --color-primary-dark: #4C3DF2;
    --color-secondary: #8282F4;
    --color-bg-black: #000000;
    --color-primary-light: #C1C1F9;
    --color-purple-button: #7C3AED;
    --color-text: #2A2A79;
    --color-purple-button-hover: #8B5CF6;
    --color-purple-button-active: #623EA0;
    --color-bg-soft: #EFEFFE;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/image/background-ban-giao-du-an.png');
    font-family: Arial, sans-serif;
    padding-bottom: 53px;
}

header {
    background-color: #00000090;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.container {
    max-width: 1920px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-header {
    display: flex;
    width: 616px;
    height: 64px;
    gap: 12px;
    align-items: center;
}

.left-header-nav {
    display: flex;
}

.left-header-nav-box {
    width: 130px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration-line: none;
    color: var(--color-bg-light);
}

a:hover {
    color: var(--color-secondary);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary);
}

select {
    background-color: transparent;
    transform: scale(1.5);
    color: var(--color-bg-light);
    border: none;
    cursor: pointer;
}

option {
    color: var(--color-bg-black);
}

.right-header {
    display: flex;
    gap: 16px;
    width: 487px;
}
.right-header-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 215px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease;
}

.right-header-button:hover {
    background: var(--color-purple-button-hover);
} 

.right-header-button:active {
    background: var(--color-purple-button-active);
}

.information {
    display: flex;
    gap: 8px;
}
.name-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.username {
    font-size: 20px;
    color: var(--color-bg-light);
}
.email {
    font-size: 20px;
    color: var(--color-bg-light);
}

.bell {
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.bell:hover {
    animation: ring 0.6s ease-in-out;
}

@keyframes ring {
    0% {transform: rotate(0);}
    15% {transform: rotate(15deg);}
    30% {transform: rotate(-15deg);}
    45% {transform: rotate(10deg);}
    60% {transform: rotate(-10deg);}
    75% {transform: rotate(5deg);}
    100% {transform: rotate(0);}
} 

main {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.project-handover {
    width: 1000px;
    height: 852px;
    background-color: #00000081;
    border-radius: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    transform: matrix(0.6, 0, 0, 0.6, 0, -150);
}

.inner-project-handover {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.inner-project-handover.container {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
} 

.project-handover-title {
    color: var(--color-bg-light);
    font-size: 48px;
    font-weight: 600;
}

.project-handover-body {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 100%;
}

.project-handover-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-handover-label {
    font-size: 28.8px;
    color: var(--color-bg-light);
    font-weight: 400;
}

.project-handover-textarea {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-surface);
    color: var(--color-text);
    padding: 9px 24px;
    font-size: 16px;
    font-weight: 500;
    resize: none;
}

.project-handover-note {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-surface);
    color: var(--color-text);
    padding: 9px 24px;
    font-size: 16px;
    font-weight: 500;
}

.project-handover-upload {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-handover-upload-box {
    display: flex;
    justify-content: space-between;
}

.upload-box-button {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    box-shadow: 5px 4px 9px -3px var(--color-surface);
    transition: all 0.6s ease;
}

.upload-box-button:hover {
    filter: brightness(1.1);
}

.upload-box-button:active {
    animation: up 10s ease-in;
}

@keyframes up {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.upload-box-list {
    max-width: 580px;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #00000081;
    border-radius: 10px;
    place-items: center;
}

.upload-item {
    background-color: var(--color-bg-soft);
    width: 254px;
    height: 39.5px;
    border-radius: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
}

.upload-item:hover {
    transform: scale(1.05);
}

.upload-item-info {
    display: flex;
    gap: 6px;
    align-items: center;
}

.upload-item-name {
    font-size: 20px;
    font-weight: 400;
}

.upload-item-success {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #027A48;
    opacity: 80%;
}

.upload-item-error {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D92D20;
    opacity: 80%;
}

.upload-item-pending {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FDB022;
    opacity: 80%;
}

.project-handover-submit {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 400px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease;
}

.project-handover-submit:hover {
    background: var(--color-purple-button-hover);
}

.project-handover-submit:active {
    background: var(--color-purple-button-active);
}

/* @media (max-width: 1360px) {
    .project-handover {
        transform: scale(0.5);
    }
} */