.card {
    width: 600px;
    height: auto;
    background: #3b3845;
    border-radius: 24px;
    padding: 30px;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Label */
.label {
    font-size: 20px;
    margin-bottom: -10px;
}

/* Select */
.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    width: 100%;
    padding: 12px 40px 12px 15px;
    background: #4a4656;
    border: 1px solid #6e6b75;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    appearance: none;
    outline: none;
}

/* Mũi tên */
.select-wrapper::after {
    content: "▼";
    font-size: 12px;
    color: #c3c3c3;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Textarea */
.textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    font-size: 20px;
    background: #4a4656;
    color: white;
    border: 1px solid #6e6b75;
    border-radius: 20px;
    outline: none;
    resize: none;
}

/* Button */
.btn {
    margin-left: auto;
    padding: 12px 28px;
    background: #8a2bff;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}