:root {
    --color-bg-light: #ffffff;
    --color-bg-soft: #efeffe;
    --color-surface: #e0e0fc;

    --color-primary-light: #c1c1f9;
    --color-primary: #6363f1;
    --color-primary-dark: #4c3df2;
    --color-secondary: #8282f4;
    --color-accent: #a1a1f7;

    --color-text: #2a2a79;
    --color-text-muted: #212165;
    --color-text-invert: #ffffff;

    --color-bg-dark: #171751;
    --color-bg-darker: #0e0e3d;
    --color-bg-black: #000000;

    --color-purple-base-dark: #7928ff;
    --color-purple-base-light: #a68cff;
    --color-purple-text: #a78bfa;
    --color-purple-text-hover: #c4b5fd;

    --color-purple-button: #7c3aed;
    --color-purple-button-hover: #8b5cf6;
    --color-purple-button-active: #623ea0;

    /* Typography Scale */
    --font-size-5xl: 2.986rem;
    --font-size-4xl: 2.488rem;
    --font-size-3xl: 2.074rem;
    --font-size-2xl: 1.728rem;
    --font-size-xl: 1.44rem;
    --font-size-lg: 1.2rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.833rem;
    --font-size-xs: 0.694rem;

    /* Container */
    --container-max-width: 1280px;
}

body {
    box-sizing: border-box;
    background-image: url('/assets/images/nen-dang-nhap.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a:hover {
    color: var(--color-secondary);
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary);
}

.login-page {
    display: flex;
    max-width: 1100px;
    width: 95%;
    height: 846px;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login-page-left {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/anh-dang-ky.png');
    max-width: 548px;
    width: 100%;
    height: 846px;
    position: relative;
}

.logo {
    position: absolute;
    left: 40px;
    top: 32px;
}

.login-page-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 552px;
    width: 100%;
    height: 846px;
    background: var(--color-bg-light);
}

.inner-login-page-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    width: 400px;
    height: 592px;
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login-link {
    text-decoration-line: none;
}

.login-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login-form-group {
    width: 100%;
    height: 60px;
    background: var(--color-surface);
    border-radius: 40px;
    display: flex;
    gap: 8px;
    padding: 0 24px;
    align-items: center;
    transition: outline 0.2s ease;
}

.login-form-group:hover {
    outline: 1px solid var(--color-purple-base-dark);
}

.login-form-group-text {
    background: var(--color-surface);
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
}

.login-form-group:focus-within {
    outline: 3px solid var(--color-purple-base-dark); /* màu tím, đổi theo fen */
}

.login-form-action {
    display: flex;
}

input[type='checkbox'] {
    transform: scale(2);
    cursor: pointer;
    vertical-align: middle;
}

.login-form-action label {
    cursor: pointer;
}

.login-form-btn {
    background: var(--color-primary-dark);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg-light);
    border-radius: 20px;
    width: 100%;
    height: 52px;
    font-size: 23px;
    transition: color 0.1s linear;
}

.login-form-btn:hover {
    background: var(--color-primary);
    color: var(--color-bg-black);
}

.login-form-btn:active {
    background: var(--color-secondary);
    color: var(--color-bg-black);
}

.login-form-divider {
    display: flex;
    gap: 26.5px;
    align-items: center;
}

.login-form-divider-line {
    width: 150px;
    height: 0;
    border: 2px solid #dbc4c4;
    border-radius: 20px;
}

.login-form-divider-text {
    font-size: 20px;
    color: #b8abab;
}

.login-btn-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-btn {
    width: 190px;
    height: 68px;
    border: 1px solid #000000b0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--color-bg-light);
    transition: color 0.1s linear;
    cursor: pointer;
}

.login-btn:hover {
    border: 1px solid var(--color-primary-dark);
}

.login-btn:active {
    border: 1px solid var();
}

.login-btn-text {
    font-size: 19.2px;
    font-weight: 600;
    color: #000000b0;
}

@media (max-width: 768px) {
    .login-page-left {
        display: none;
    }

    .login-page-right {
        border-radius: 30px;
        max-width: 768px;
    }
}
