body {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
}
#container {
    margin: 2px auto 2px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2.4rem 3.2rem;
}
h1 {
    margin-bottom: 8px;
    color: var(--color-bg-light);
    text-align: center;
}
.info-dropdown {
    margin-bottom: 10px;
}

.info-btn {
    padding: 10px 16px;
    cursor: pointer;
    background: var(--color-primary-dark);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline-block;
    rotate: -90deg;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.info-content {
    max-height: 0;
    overflow: hidden;
    border-radius: 4px;
    transition:
        0.4s ease,
        padding 0.4s ease;
    padding: 0 12px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(5px);
}

.info-content.open {
    padding: 12px;
    max-height: 500px;
}
