:root {
    --color-bg-light: #ffffff;
    --color-bg-soft: #efeffe;
    --color-surface: #e0e0fc;

    --color-primary-light: #c1c1f9;
    --color-primary: #6363f1;
    --color-primary-dark: #4c3df2;
    --color-secondary: #8282f4;
    --color-accent: #a1a1f7;

    --color-text: #2a2a79;
    --color-text-muted: #212165;
    --color-text-invert: #ffffff;

    --color-bg-dark: #171751;
    --color-bg-darker: #0e0e3d;
    --color-bg-black: #000000;

    --color-purple-base-dark: #7928ff;
    --color-purple-base-light: #a68cff;
    --color-purple-text: #a78bfa;
    --color-purple-text-hover: #c4b5fd;

    --color-purple-button: #7c3aed;
    --color-purple-button-hover: #8b5cf6;
    --color-purple-button-active: #623ea0;

    /* Typography Scale */
    --font-size-5xl: 2.986rem;
    --font-size-4xl: 2.488rem;
    --font-size-3xl: 2.074rem;
    --font-size-2xl: 1.728rem;
    --font-size-xl: 1.44rem;
    --font-size-lg: 1.2rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.833rem;
    --font-size-xs: 0.694rem;

    /* Container */
    --container-max-width: 1280px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: var(--container-max-width)) {
    .container {
        padding: 0 40px;
    }
}
