:root {
    --color-bg-light: #ffffff;
    --color-bg-soft: #efeffe;
    --color-surface: #e0e0fc;

    --color-primary-light: #c1c1f9;
    --color-primary: #6363f1;
    --color-primary-dark: #4c3df2;
    --color-secondary: #8282f4;
    --color-accent: #a1a1f7;

    --color-text: #2a2a79;
    --color-text-muted: #212165;
    --color-text-invert: #ffffff;

    --color-bg-dark: #171751;
    --color-bg-darker: #0e0e3d;
    --color-bg-black: #000000;

    --color-purple-base-dark: #7928ff;
    --color-purple-base-light: #a68cff;
    --color-purple-text: #a78bfa;
    --color-purple-text-hover: #c4b5fd;

    --color-purple-button: #7c3aed;
    --color-purple-button-hover: #8b5cf6;
    --color-purple-button-active: #623ea0;
}

body {
    margin: 0;
    padding: 0;
}
