body {
    background-image: url('/assets/images/nen-gui-ung-tuyen.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Inter, sans-serif;
}

.ung-tuyen {
    display: flex;
    margin: 74px;
    justify-content: center;
    height: 832px;
}
.ung-tuyen-container {
    width: 1000px;
    background-color: #00000090;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
}
.ung-tuyen-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 660px;
    gap: 12px;
    h1 {
        color: var(--color-bg-light);
        font-size: 60px;
        font-weight: 800;
    }
    .mo-ta {
        color: var(--color-bg-light);
        font-size: 20px;
        font-family:
            Open Sans,
            sans-serif;
    }
}

.ung-tuyen-content {
    display: flex;
    width: 800px;
    height: 420px;
    flex-direction: column;
    .reason {
        margin-bottom: 10px;
        h5 {
            color: var(--color-bg-light);
            font-size: 29px;
            font-weight: 500;
        }
    }
    .reason-input {
        width: 100%;
        height: 180px;
        border-radius: 20px;
        border: none;
        font-size: 20px;
        font-family:
            Open Sans,
            sans-serif;
        outline: none;
        padding-top: 20px;
        padding-left: 24px;
        background: var(--color-surface);
        color: #00000090;
        resize: none;
    }
}
.cv {
    display: flex;
    flex-direction: column;
    width: 522px;
    height: 35px;
    margin-top: 40px;
    h5 {
        color: var(--color-bg-light);
        font-size: 29px;
        font-weight: 500;
    }
    .upload {
        font-size: 20px;
        font-family:
            Open Sans,
            sans-serif;
        color: var(--color-bg-light);
        display: flex;
        gap: 20px;
        .file-upload {
            width: 200px;
            height: 120px;
            background-color: var(--color-surface);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .here {
                color: var(--color-bg-black);
                font-size: 29px;
                font-weight: 500;
            }
        }
        .file-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            background-color: #00000080;
            width: 302px;
            height: 120px;
            input {
                padding-left: 40px;
            }
            .first-name {
                width: 254px;
                height: 35px;
                background-color: var(--color-bg-soft);
                outline: none;
                border-radius: 20px;
                resize: none;
                font-size: 20px;
                color: var(--color-bg-black);
                font-family:
                    Open Sans,
                    sans-serif;
                position: relative;
            }
            input::placeholder {
                position: absolute;
                color: var(--color-bg-black);
            }
            .button-1 {
                width: 24px;
                height: 24px;
                background-color: #027a48cf;
                border: none;
                position: absolute;
                border-radius: 50%;
                margin-bottom: 60px;
                margin-left: 200px;
            }
            .folder-image-1 {
                position: absolute;
                margin-bottom: 60px;
                margin-right: 200px;
            }
            .second-name {
                width: 254px;
                height: 35px;
                background-color: var(--color-bg-soft);
                outline: none;
                border-radius: 20px;
                resize: none;
                font-size: 20px;
                color: var(--color-bg-black);
                font-family:
                    Open Sans,
                    sans-serif;
                position: relative;
            }
            .button-2 {
                width: 24px;
                height: 24px;
                background-color: #d92d20cf;
                border: none;
                position: absolute;
                border-radius: 50%;
                margin-top: 60px;
                margin-left: 200px;
            }
            .folder-image-2 {
                position: absolute;
                margin-top: 60px;
                margin-right: 200px;
            }
        }
    }
}
.send-button {
    width: 400px;
    height: 52px;
    display: flex;
    gap: 24px;
}
.send-button-1 {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 188px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid var(--color-purple-button);
}
.send-button-2 {
    width: 188px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid var(--color-purple-button);
    background-color: transparent;
    color: var(--color-bg-light);
}
