* {
    box-sizing: border-box;
}
body {
    background-image: url('./assets/images/nen-gui-ung-tuyen.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}
header {
    height: 100px;
    background-color: #00000090;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    max-width: 1920px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-header {
    display: flex;
    width: 616px;
    height: 64px;
    gap: 40px;
    align-items: center;
}
.about-us {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.see-all {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.language {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.right-header {
    display: flex;
    gap: 16px;
    width: 552px;
}
.right-header-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 200px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
.information {
    display: flex;
    gap: 8px;
}
.name-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.username {
    font-size: 20px;
    color: var(--color-bg-light);
}
.email {
    font-size: 20px;
    color: var(--color-bg-light);
}
/* end header */
.ung-tuyen {
    display: flex;
    padding-top: 57px;
    justify-content: center;
}
.ung-tuyen-container {
    width: 1000px;
    height: 752px;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    padding: 45px;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        color: var(--color-bg-light);
        font-size: 60px;
        font-weight: 900;
    }
}

.ung-tuyen-content {
    display: flex;
    width: 808px;
    height: 552px;
    flex-direction: column;
    .reason {
        margin-bottom: 10px;
        h5 {
            color: var(--color-bg-light);
            font-size: 29px;
            font-weight: 700;
        }
    }
    textarea {
        width: 100%;
        height: 290px;
        border-radius: 20px;
        border: 1px solid #000000;
        font-size: 24px;
        outline: none;
        padding-top: 10px;
        padding-left: 10px;
        background: var(--color-surface);
    }
}
.send-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 400px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
