body {
    background-image: url('/assets/images/nen-gui-ung-tuyen.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Inter, sans-serif;
}

.ung-tuyen {
    display: flex;
    margin: 4.6rem;
    justify-content: center;
    height: 52rem;
}
.ung-tuyen-container {
    width: 62.5rem;
    background-color: #00000090;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    padding: 2.5rem;
}
.ung-tuyen-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 41.25rem;
    gap: 0.8rem;
    h1 {
        color: var(--color-bg-light);
        font-size: 3.75rem;
        font-weight: 800;
    }
    .mo-ta {
        color: var(--color-bg-light);
        font-size: 1.25rem;
        font-family:
            Open Sans,
            sans-serif;
    }
}

.ung-tuyen-content {
    display: flex;
    width: 50rem;
    height: 26.25rem;
    flex-direction: column;
    .reason {
        margin-bottom: 0.625rem;
        h5 {
            color: var(--color-bg-light);
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    .reason-input {
        width: 100%;
        height: 11.25rem;
        border-radius: 1.25rem;
        border: none;
        font-size: 1.25rem;
        font-family:
            Open Sans,
            sans-serif;
        outline: none;
        padding-top: 1.25rem;
        padding-left: 1.5rem;
        background: var(--color-surface);
        color: #00000090;
        resize: none;
    }
}
.cv {
    margin-top: 2.5rem;
    h5 {
        font-size: 1.8rem;
        color: var(--color-bg-light);
        font-weight: 400;
    }
}
.upload {
    display: flex;
    margin-top: 0.5rem;
    gap: 1.25rem;
}
.upload-box-button {
    width: 12.5rem;
    height: 7.5rem;
    border-radius: 0.625rem;
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    box-shadow: 0.3rem 0.25rem 0.6rem -0.2rem var(--color-surface);
    transition: all 0.6s ease;
}

.upload-box-button:hover {
    filter: brightness(1.1);
}

.upload-box-button:active {
    animation: up 10s ease-in;
}

@keyframes up {
    0% {
        transform: translateY(-0.625rem);
    }
    50% {
        transform: translateY(-0.3125rem);
    }
    100% {
        transform: translateY(0);
    }
}
.upload-box-list {
    max-width: 36.25rem;
    width: 18.75rem;
    height: 7.5rem;
    display: grid;
    background-color: #00000081;
    border-radius: 0.625rem;
    place-items: center;
    align-items: center;
}

.upload-item {
    background-color: var(--color-bg-soft);
    width: 15.9rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
}

.upload-item:hover {
    transform: scale(1.05);
}

.upload-item-info {
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.upload-item-name {
    font-size: 1.25rem;
    font-weight: 400;
}

.upload-item-success {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #027a48;
    opacity: 80%;
}

.upload-item-error {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #d92d20;
    opacity: 80%;
}

.send-button {
    width: 25rem;
    height: 3.25rem;
    display: flex;
    gap: 1.5rem;
}
.send-button-1 {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 188px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid var(--color-purple-button);
}
.send-button-2 {
    width: 188px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid var(--color-purple-button);
    background-color: transparent;
    color: var(--color-bg-light);
}
