:root {
    --color-bg-light: #ffffff;
    --color-bg-soft: #efeffe;
    --color-surface: #e0e0fc;
    --color-primary-light: #c1c1f9;
    --color-primary: #6363f1;
    --color-primary-dark: #4c3df2;
    --color-secondary: #8282f4;
    --color-accent: #a1a1f7;
    --color-text: #2a2a79;
    --color-text-muted: #212165;
    --color-text-invert: #ffffff;
    --color-bg-dark: #171751;
    --color-bg-darker: #0e0e3d;
    --color-bg-black: #000000;
    --color-purple-base-dark: #7928ff;
    --color-purple-base-light: #a68cff;
    --color-purple-text: #a78bfa;
    --color-purple-button: #7c3aed;
    /* Typography Scale /
    --font-size-h1: 5.97rem; / Display / h1 /
    --font-size-h2: 4.98rem; / h2 /
    --font-size-h3: 4.15rem; / h3 /
    --font-size-h4: 3.46rem; / h4 /
    --font-size-h5: 2.88rem; / h5 /
    --font-size-h6: 2.4rem; / h6 /
    --font-size-body: 2rem; / Body /
    --font-size-small: 1.67rem; / small */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('./assets/gui-ung-tuyen/nen-gui-ung-tuyen.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}
header {
    height: 100px;
    background-color: #00000090;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    max-width: 1920px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-header {
    display: flex;
    width: 616px;
    height: 64px;
    gap: 40px;
    align-items: center;
}
.about-us {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.see-all {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.language {
    color: var(--color-bg-light);
    font-size: 20px;
    font-weight: 400;
}
.right-header {
    display: flex;
    gap: 16px;
    width: 552px;
}
.right-header-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 200px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
.information {
    display: flex;
    gap: 8px;
}
.name-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.username {
    font-size: 20px;
    color: var(--color-bg-light);
}
.email {
    font-size: 20px;
    color: var(--color-bg-light);
}
/* end header */
.ung-tuyen {
    display: flex;
    padding-top: 57px;
    justify-content: center;
}
.ung-tuyen-container {
    width: 1000px;
    height: 752px;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    padding: 45px;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        color: var(--color-bg-light);
        font-size: 60px;
        font-weight: 900;
    }
}

.ung-tuyen-content {
    display: flex;
    width: 808px;
    height: 552px;
    flex-direction: column;
    .reason {
        margin-bottom: 10px;
        h5 {
            color: var(--color-bg-light);
            font-size: 29px;
            font-weight: 700;
        }
    }
    textarea {
        width: 100%;
        height: 290px;
        border-radius: 20px;
        border: 1px solid #000000;
        font-size: 24px;
        outline: none;
        padding-top: 10px;
        padding-left: 10px;
        background: var(--color-surface);
    }
}
.send-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 400px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
