* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('./assets/images/nen-tim-kiem-du-an.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}
header {
    height: 100px;
    background-color: #00000090;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    max-width: 1920px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-header {
    display: flex;
    width: 518px;
    height: 64px;
    gap: 16px;
    align-items: center;
}
.left-header-button {
    border-radius: 30px;
    border: 1px solid var(--color-purple-button);
    background-color: transparent;
    color: var(--color-bg-light);
    width: 232px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
.right-header {
    display: flex;
    gap: 16px;
    width: 552px;
}
.right-header-button {
    border-radius: 30px;
    background: var(--color-purple-button);
    color: var(--color-bg-light);
    width: 200px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
}
.information {
    display: flex;
    gap: 8px;
}
.name-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.username {
    font-size: 20px;
    color: var(--color-bg-light);
}
.email {
    font-size: 20px;
    color: var(--color-bg-light);
}

/* end header */
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-bg-black);
}
.title h1 {
    color: var(--color-bg-light);
    font-size: 60px;
    font-weight: 900;
}
.search-container {
    display: flex;
    justify-content: center;
}
.search-bar {
    position: relative;
    width: 1200px;
    .icon-search {
        position: absolute;
        margin: 5px;
        img {
            width: 33px;
            height: 33px;
        }
    }
    .filter {
        position: absolute;
        margin-left: 1145px;
        margin-top: 5px;
        img {
            width: 33px;
            height: 33px;
        }
    }
}

.search-bar input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    padding-left: 50px;
}
/* end search-bar */

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.project-container {
    display: flex;
    gap: 40px 150px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}
.project-image {
    width: 300px;
    height: 190px;
    background-color: var(--color-bg-light);
    border-radius: 30px;
}
.project-image img {
    border-radius: 30px 30px 0 0;
}
.project-content {
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
}
.design-web {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.email-address {
    font-size: 10px;
    font-weight: 100;
}
.interact {
    display: flex;
    gap: 10px;
}
.view-more {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text);
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    text-decoration: underline;
}
