* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    background-image: url('./assets/images/nen-tim-kiem-du-an.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Inter, sans-serif;
    background-position: center;
    background-attachment: fixed;
}
.container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-bg-black);
    padding: 52px;
}
.title h1 {
    color: var(--color-bg-light);
    font-size: 60px;
    font-weight: 900;
}
.search-container {
    display: flex;
    justify-content: center;
}
.search-bar {
    position: relative;
    width: 1200px;
    .icon-search {
        position: absolute;
        margin: 5px;
        img {
            width: 33px;
            height: 33px;
        }
    }
}

.search-bar input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    padding-left: 50px;
}
/* end search-bar */

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 44px;
}
.project-container {
    display: flex;
    gap: 40px 150px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1230px;
    left: 12px;
}
.project-image {
    width: 300px;
    height: 190px;
    background-color: var(--color-bg-light);
    border-radius: 30px;
}
.project-image img {
    border-radius: 30px 30px 0 0;
}
.project-content {
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
}
.design-web {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.email-address {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.interact {
    display: flex;
    gap: 10px;
}
.eyes {
    display: flex;
    align-items: center;
    gap: 3px;
}
.like {
    display: flex;
    align-items: center;
    gap: 3px;
}
.view-more {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text);
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    text-decoration: underline;
}
