---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import '@/assets/css/dang-ky.css'
---

<DefaultLayout>
    <div class="container">
        <div class="login-page">
            <div class="login-page-left"><img src="./assets/image/logo.svg" alt="logo" class="logo"></div>
            <div class="login-page-right">
                <div class="inner-login-page-right">
                    <div class="login-content">
                        <div class="login-form">
                            <h1>Đăng ký</h1>
                            <div>Bạn đã có tài khoản? <a href="http://" class="login-link">Đăng nhập</a></div>
                        </div>
                        <div class="login-form-body">
                            <div class="login-form-group">
                                <img src="./assets/image/solar_pen-outline.svg" alt="icon">
                                <input type="text" placeholder="Tên đầy đủ" class="login-form-group-text">
                            </div>
                            <div class="login-form-group">
                                <img src="./assets/image/solar_user-outline.svg" alt="icon">
                                <input type="text" placeholder="Tên người dùng" class="login-form-group-text">
                            </div>
                            <div class="login-form-group">
                                <img src="./assets/image/mdi-light_email.svg" alt="icon">
                                <input type="text" placeholder="Email" class="login-form-group-text">
                            </div>
                            <div class="login-form-group">
                                <img src="./assets/image/material-symbols-light_lock-outline.svg" alt="icon">
                                <input type="password" placeholder="Mật khẩu" class="login-form-group-text">
                            </div>
                            <div class="login-form-action">
                                <label><input type="checkbox" /> &nbsp; Tôi đồng ý với các </label>&nbsp;
                                <a href="http://" class="login-link">Điều khoản & Điều kiện</a>
                            </div>
                        </div>
                        <button class="login-form-btn">Đăng ký</button>
                    </div>
                    <div class="login-form-divider">
                        <div class="login-form-divider-line"></div>
                        <div class="login-form-divider-text">hoặc</div>
                        <div class="login-form-divider-line"></div>
                    </div>
                    <div class="login-btn-box">
                        <button class="login-btn">
                            <img src="./assets/image/flat-color-icons_google.png" alt="icon">
                            <div class="login-btn-text">Gmail</div>
                        </button>
                        <button class="login-btn">
                            <img src="./assets/image/logos_facebook.png" alt="icon">
                            <div class="login-btn-text">Facefook</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>