---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/forgot-password.css';
---

<DefaultLayout>
    <section class="forgot-page">
        <div class="head">
            <span>New to SkillBank?</span>
            <a href="/dang-ky">Sign up</a>
        </div>

        <div class="hero">
            <div class="hero-section">
                <a href="#"><img src="/assets/image/logo.png" alt="logo" /></a>

                <h1>Forgot password?</h1>

                <form action="#" method="post">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        autocomplete="on"
                    />
                    <br />
                    <button class="reset">Reset password</button>
                </form>

                <a href="/login">
                    <i class="fa-solid fa-arrow-rotate-left"></i> Back to sign in
                </a>
            </div>
        </div>
    </section>
</DefaultLayout>
