---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/gui-ung-tuyen.css';
---

<DefaultLayout>
    <header>
        <div class="header-container">
            <div class="left-header">
                <a href="/">
                    <img src="/assets/images/logo-full-ngang.svg" alt="" />
                </a>
                <a class="about-us" href="./about.astro">Giới thiệu</a>
                <a class="see-all" href="">Xem tất cả</a>
                <div class="language">
                    VI
                    <img src="/assets/images/weui_back-filled.svg" alt="" />
                </div>
            </div>
            <div class="right-header">
                <a href=""
                    ><img
                        class="bell"
                        src="/assets/images/Icon-notification-default.svg"
                        alt=""
                    /></a
                >
                <a href=""
                    ><button class="right-header-button">Đăng tải dự án</button>
                </a>
                <div class="information">
                    <a href=""
                        ><img src="/assets/images/avt-nhỏ.svg" alt="" />
                    </a>
                    <div class="name-information">
                        <div class="username">User name</div>
                        <div class="email">Email</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="ung-tuyen">
        <div class="ung-tuyen-container">
            <div class="title">
                <h1>Ứng tuyển dự án</h1>
                <div class="mo-ta">
                    Gửi hồ sơ ứng tuyển để trở thành một phần trong các dự án
                    đang mở, nơi kỹ năng và kinh nghiệm của bạn được đánh giá và
                    phát huy tối đa.
                </div>
            </div>
            <div class="ung-tuyen-content">
                <div class="reason">
                    <h5>Lý do tham gia</h5>
                </div>
                <textarea class="reason-input" placeholder="Nhập lời nhắn..."
                ></textarea>
                <div class="cv">
                    <h5>Đính kèm CV (nếu có)</h5>
                    <div class="upload">
                        <div class="file-upload">
                            <a href=""
                                ><img
                                    src="/assets/images/solar_upload-square-outline.svg"
                                    alt=""
                                />
                            </a>

                            <div class="here">Đăng tải ở đây</div>
                        </div>
                        <div class="file-name">
                            <input
                                class="first-name"
                                type="text"
                                id="first-name"
                                placeholder="Tên file"
                            />
                            <button class="button-1"></button>
                            <img
                                class="folder-image-1"
                                src="/assets/images/solar_file-outline.svg"
                                alt=""
                            />
                            <input
                                class="second-name"
                                type="text"
                                id="second-name"
                                placeholder="Tên file"
                            />
                            <button class="button-2"></button>
                            <img
                                class="folder-image-2"
                                src="/assets/images/solar_file-outline.svg"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="send-button">
                <button class="send-button-2">Quay lại</button>
                <button class="send-button-1">Gửi</button>
            </div>
        </div>
    </div>
</DefaultLayout>
