---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@/assets/css/user-manage.css';
---

<DefaultLayout>
	<Header />
	<div class="container">
		<div class="center-bypass"><h1 style="color: white;">Quản lý người dùng</h1></div>

		<table>
			<thead>
				<tr>
					<th   style="width: 300px;">Tên User
						<div class="center-bypass"><div class="search">
							<input type="text" placeholder="Tìm kiếm tên user..." /><button><img src="./assets/VA/search-icon.svg" alt="" /></button>
						</div></div>

					</th>
					<th   style="width: 400px;">Email
						<div class="center-bypass"><div class="search">
							<input type="text" placeholder="Tìm kiếm email..." /><button><img src="./assets/VA/search-icon.svg" alt="" /></button>

						</div></div>

					</th>
					<th   style="width: 200px;">Vai trò
						<div class="center-bypass"><div class="search">
							<input type="text" placeholder="Tìm kiếm vai trò..." style="width: 125px;"/><button><img src="./assets/VA/search-icon.svg" alt="" /></button>
						</div></div>

					</th>
					<th   style="width: 100px;">Status
						<div class="dropdown">
							<button><img src="./assets/VA/dropdown.svg" alt="" /></button>
						</div>
					</th>
					<th   style="width: 400px;">Chi tiết người dùng</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td  style="width: 300px;">Nguyễn Xuân Việt Anh</td>
					<td  style="width: 400px;">nguyenxuanvietanh@gmail.com</td>
					<td  style="width: 200px; text-align: center;">Nô lệ</td>
					<td  style="width: 100px; text-align: center;">Offline</td>
					<td  style="width: 400px;">Chúa nhây</td>
				</tr>
				<tr>
					<td  style="width: 300px;">Nguyễn Xuân Việt Em</td>
					<td  style="width: 400px;">nguyenxuanvietem@gmail.com</td>
					<td  style="width: 200px; text-align: center;">Nô lệ cấp thấp</td>
					<td  style="width: 100px; text-align: center;">Offline</td>
					<td  style="width: 400px;">Chúa nhây</td>
				</tr>
				<tr>
					<td  style="width: 300px;">Insert</td>
					<td  style="width: 400px;">data</td>
					<td  style="width: 200px; text-align: center;">từ</td>
					<td  style="width: 100px; text-align: center;">js</td>
					<td  class="" style="width: 400px;">hoặc file</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="buttons">
		<button class="action-button"> Xem </button><button class="action-button"> Sửa </button><button class="action-button"> Khóa </button><button class="action-button"> Xóa </button>
	</div>



</DefaultLayout>
