---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/set-new-password.css';
---

<DefaultLayout>
    <div class="container">
        <section class="set-new-password-page">
            <div class="hero">
                <div class="hero-section">
                    <a href="#"
                        ><img src="/assets/images/logo.png" alt="logo" /></a
                    >

                    <h1>Set new password</h1>

                    <form action="#" method="post">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                        />
                        <input
                            type="password"
                            id="confirm-password"
                            name="confirm-password"
                            placeholder="Confirm password"
                        />
                        <button class="reset">Set new password</button>
                    </form>

                    <a href="#">
                        <i class="fa-solid fa-arrow-rotate-left"></i> Back to sign
                        in
                    </a>
                </div>
            </div>
        </section>
    </div>
</DefaultLayout>
