---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/tim-kiem-du-an.css';
---

<DefaultLayout>
    <div class="container">
        <div class="sticky-group">
            <header>
                <div class="header-container">
                    <div class="left-header">
                        <a href="/">
                            <img
                                src="./assets/gui-ung-tuyen/logo-full-ngang.svg"
                                alt=""
                            />
                        </a>
                        <a class="about-us" href="./about.astro">Giới thiệu</a>
                        <a class="see-all" href="">Xem tất cả</a>
                        <div class="language">
                            VI
                            <img
                                src="./assets/gui-ung-tuyen/weui_back-filled.svg"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="right-header">
                        <a href=""
                            ><img
                                class="bell"
                                src="./assets/gui-ung-tuyen/Icon-notification-default.svg"
                                alt=""
                            /></a
                        >
                        <a href=""
                            ><button class="right-header-button"
                                >Đăng tải dự án</button
                            >
                        </a>
                        <div class="information">
                            <a href=""
                                ><img
                                    src="./assets/gui-ung-tuyen/avt-nhỏ.svg"
                                    alt=""
                                />
                            </a>
                            <div class="name-information">
                                <div class="username">User name</div>
                                <div class="email">Email</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="title">
                <h1>Khám phá dự án</h1>
            </div><div class="search-container">
                <div class="search-bar">
                    <div class="icon-search">
                        <img
                            src="./assets/tim-kiem-du-an/Icon-search.svg"
                            alt=""
                        />
                    </div>
                    <input
                        type="text"
                        id="searchInput"
                        placeholder="Nhập từ khoá dự án, kỹ năng..."
                    />
                </div>
            </div>
        </div>

        <div class="content">
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img
                            src="./assets/tim-kiem-du-an/project-image.svg"
                            alt=""
                        />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">Design web</div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="./assets/tim-kiem-du-an/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="./assets/tim-kiem-du-an/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">View more</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
