---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/box-project-collab.css';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <div class="card">
        <label class="label">{t('box-project-collab.title')}</label>
        <div class="fake-select">{t('box-project-collab.skill1')}</div>

        <label class="label">{t('box-project-collab.job')}</label>
        <textarea class="textarea" placeholder={t('box-project-collab.text')}
        ></textarea>

        <button class="btn">{t('box-project-collab.btn')}</button>
    </div>
</DefaultLayout>
