---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/enter-code.css';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <section class="enter-code-page">
        <div class="grid-overlay"></div>
        <div class="hero">
            <div class="hero-section">
                <a href={l('/')}
                    ><img src="/assets/images/logo.png" alt="logo" /></a
                >

                <h1>{t('enter-code.title')}</h1>

                <form action="#" method="post">
                    <div class="input">
                        <input class="otp-input" type="text" maxlength="1" />
                        <input class="otp-input" type="text" maxlength="1" />
                        <input class="otp-input" type="text" maxlength="1" />
                        <input class="otp-input" type="text" maxlength="1" />
                    </div>

                    <div class="no-mail">
                        <span>{t('enter-code.noEmail')}</span>
                        <button class="resent">{t('enter-code.resent')}</button>
                    </div>

                    <button class="continue">{t('enter-code.continue')}</button>
                </form>

                <a href={l('/')}>
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    {t('enter-code.backToSignIn')}
                </a>
            </div>
        </div>
    </section>
    <script src="@/assets/script/enter-code.js"></script>
</DefaultLayout>
