---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/forgot-password.css';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
const isLoggedIn = Astro.locals.session?.user;
if (isLoggedIn) {
    return Astro.redirect(l('/'));
}
---

<DefaultLayout>
    <section class="forgot-page">
        <div class="head">
            <span>{t('forgot-password.newbie')}</span>
            <a href={l('/sign-up')}>{t('forgot-password.signUp')}</a>
        </div>

        <div class="hero">
            <div class="hero-section">
                <a href={l('/')}
                    ><img src="/assets/images/logo.png" alt="logo" /></a
                >

                <h1>{t('forgot-password.title')}</h1>

                <form action="#" method="post">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        autocomplete="on"
                    />
                    <br />
                    <button class="reset"
                        >{t('forgot-password.resetPass')}</button
                    >
                </form>

                <a href={l('/sign-in')}>
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    {t('forgot-password.backToSignIn')}
                </a>
            </div>
        </div>
    </section>
</DefaultLayout>
