---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/personal-profile.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <Header />
    <body>
        <main class="section">
            <div class="container">
                <aside class="frame">
                    <section class="frame-wrapper">
                        <div class="div">
                            <div
                                class="avt-va"
                                role="img"
                                aria-label="Avatar của Quynh Chi"
                            >
                                <img
                                    src="/assets/images/vy2.png"
                                    alt="Avatar của Quynh Chi"
                                />
                            </div>
                            <div class="frame-2">
                                <h1 class="text-wrapper">Quynh Chi</h1>
                                <div class="div-wrapper">
                                    <span class="text-wrapper-2"
                                        >#25650001</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="frame-3">
                        <section class="frame-4">
                            <h2 class="text-wrapper-3">Thông tin chung</h2>
                            <div class="line"></div>
                            <div class="frame-5">
                                <div class="frame-6">
                                    <p class="text-wrapper-4">Bùi Thái Vy</p>
                                    <p class="text-wrapper-5">@tzecute</p>
                                </div>
                                <p class="div-2">
                                    <span class="span"
                                        >Số điện thoại: <br /></span
                                    >
                                    <span class="text-wrapper-6"
                                        >0366409722</span
                                    >
                                </p>
                                <p class="div-2">
                                    <span class="span">Email:</span>
                                    <span class="text-wrapper-6"
                                        >buithaivy2019@gmai.com</span
                                    >
                                </p>
                            </div>
                        </section>
                        <section class="frame-7">
                            <h2 class="text-wrapper-3">Thông tin thêm</h2>
                            <div class="line"></div>
                            <div class="frame-8">
                                <p class="text-wrapper-7">Lĩnh vực quan tâm:</p>
                                <ul class="frame-9">
                                    <li class="text-wrapper-7">AI</li>
                                    <li class="div-2">Web design</li>
                                </ul>
                            </div>
                            <div class="frame-8">
                                <p class="text-wrapper-7">Kinh nghiệm:</p>
                                <ul class="frame-9">
                                    <li class="text-wrapper-7">
                                        1 năm kinh nghiệm tự học
                                    </li>
                                    <li class="div-2">Học IT năm 2 tại iuh</li>
                                </ul>
                            </div>
                        </section>
                        <section class="frame-10">
                            <h2 class="text-wrapper-3">Thành tựu</h2>
                            <div class="line"></div>
                            <div class="frame-5">
                                <p class="text-wrapper-7">Dự án từng làm:</p>
                                <ul class="frame-11">
                                    <li class="text-wrapper-8">
                                        Website bán sách
                                    </li>
                                    <li class="text-wrapper-5">
                                        Phân loại ảnh AI
                                    </li>
                                </ul>
                            </div>
                            <div class="frame-12">
                                <p class="text-wrapper-7">Chứng chỉ:</p>
                                <ul class="frame-9">
                                    <li class="text-wrapper-8">TOEIC 600+</li>
                                    <li class="text-wrapper-5">MOS Excel</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <section class="frame-13">
                    <img
                        class="rectangle"
                        src="/assets/images/Rectangle 245.png"
                        alt="Ảnh bìa"
                    />
                    <div class="frame-14">
                        <section class="frame-15">
                            <h2 class="text-wrapper-9">Mô tả :</h2>
                            <p class="p">
                                Lorem ipsum dolor sit amet consectetur. Orci in
                                sit pellentesque quis condimentum quis lacus.
                                Ullamcorper augue velit augue arcu elementum
                                quis. Tellus vestibulum diam natoque nam amet
                                erat. Sagittis id consectetur orci mattis amet.
                            </p>
                        </section>
                        <section class="frame-15">
                            <div class="frame-16">
                                <h2 class="text-wrapper-10">Kĩ năng :</h2>
                            </div>
                            <div class="frame-15">
                                <div class="frame-17">
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11"
                                            >React</span
                                        ></span
                                    >
                                    <span class="frame-19"
                                        ><span class="text-wrapper-11">SQL</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11">C++</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11"
                                            >Thiết kế trải nghiệm người dùng</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-12"
                                            >JavaScript</span
                                        ></span
                                    >
                                </div>
                                <div class="frame-20">
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11"
                                            >Figma</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11"
                                            >HTML</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11">CSS</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11"
                                            >Java</span
                                        ></span
                                    >
                                    <span class="frame-18"
                                        ><span class="text-wrapper-11">API</span
                                        ></span
                                    >
                                </div>
                            </div>
                        </section>
                        <section class="frame-15">
                            <div class="frame-16">
                                <h2 class="text-wrapper-10">Dự án :</h2>
                            </div>
                            <div class="group">
                                <div class="frame-23">
                                    <article class="frame-24">
                                        <div class="card-d-n-nh">
                                            <div class="frame-25"></div>
                                            <div class="frame-26">
                                                <div class="frame-27">
                                                    <h3 class="text-wrapper-14">
                                                        Design web
                                                    </h3>
                                                    <p class="text-wrapper-15">
                                                        buithaivy2019@gmail.com
                                                    </p>
                                                </div>
                                                <div class="frame-28">
                                                    <span class="frame-29"
                                                        ><span
                                                            class="text-wrapper-16"
                                                            >UI/UX</span
                                                        ></span
                                                    >
                                                    <div class="frame-30">
                                                        <div class="frame-31">
                                                            <button
                                                                class="solar-like-outline"
                                                                type="button"
                                                                aria-label="Bookmark"
                                                            >
                                                                <img
                                                                    class="vector-5"
                                                                    src="/assets/images/solar_like-outline.svg"
                                                                    alt="like"
                                                                    role="presentation"
                                                                />
                                                            </button>
                                                            <span
                                                                class="text-wrapper-17"
                                                                >500</span
                                                            >
                                                        </div>
                                                        <button
                                                            class="img-wrapper"
                                                            type="button"
                                                            aria-label="Bookmark"
                                                        >
                                                            <img
                                                                class="vector-5"
                                                                src="/assets/images/solar_like-outline.svg"
                                                                alt="dislike"
                                                                role="presentation"
                                                            />
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="frame-24">
                                        <div class="card-d-n-nh">
                                            <div class="frame-32"></div>
                                            <div class="frame-26">
                                                <div class="frame-27">
                                                    <h3 class="text-wrapper-14">
                                                        Design web
                                                    </h3>
                                                    <p class="text-wrapper-15">
                                                        buithaivy2019@gmail.com
                                                    </p>
                                                </div>
                                                <div class="frame-28">
                                                    <span class="frame-29"
                                                        ><span
                                                            class="text-wrapper-16"
                                                            >UI/UX</span
                                                        ></span
                                                    >
                                                    <div class="frame-30">
                                                        <div class="frame-31">
                                                            <button
                                                                class="solar-like-outline"
                                                                type="button"
                                                                aria-label="Bookmark"
                                                            >
                                                                <img
                                                                    class="vector-5"
                                                                    src="/assets/images/solar_like-outline.svg"
                                                                    alt="like"
                                                                    role="presentation"
                                                                />
                                                            </button>
                                                            <span
                                                                class="text-wrapper-17"
                                                                >500</span
                                                            >
                                                        </div>
                                                        <button
                                                            class="img-wrapper"
                                                            type="button"
                                                            aria-label="Bookmark"
                                                        >
                                                            <img
                                                                class="vector-5"
                                                                src="/assets/images/solar_like-outline.svg"
                                                                alt="dislike"
                                                                role="presentation"
                                                            />
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </section>
                        <section class="frame-37">
                            <h2 class="text-wrapper-9">Một số đánh giá:</h2>
                            <div class="group-2">
                                <div class="frame-38">
                                    <div class="frame-39">
                                        <article class="frame-40">
                                            <div class="frame-41">
                                                <div class="frame-42">
                                                    <div class="frame-43">
                                                        <div class="frame-43">
                                                            <div
                                                                class="frame-44"
                                                            >
                                                                <img
                                                                    class="avt-nh"
                                                                    src="/assets/images/avt-nhỏ.svg"
                                                                    alt="Avatar của Quang"
                                                                />
                                                                <div
                                                                    class="star-box-small"
                                                                >
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="gstar"
                                                                    >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="text-wrapper-18">
                                                        Nó đỉnh cao vậy!
                                                    </p>
                                                </div>
                                                <div class="frame-46">
                                                    <p class="text-wrapper-19">
                                                        Quang
                                                    </p>
                                                    <p class="text-wrapper-20">
                                                        #quan0509
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="frame-47">
                                            <div class="frame-48">
                                                <div class="frame-49">
                                                    <div class="frame-50">
                                                        <div
                                                            class="avt-ln"
                                                            role="img"
                                                            aria-label="Avatar của Ly Huy"
                                                        >
                                                        </div>
                                                        <div class="star-box">
                                                            <div class="ystar">
                                                            </div>
                                                            <div class="ystar">
                                                            </div>
                                                            <div class="ystar">
                                                            </div>
                                                            <div class="ystar">
                                                            </div>
                                                            <div class="ystar">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="text-wrapper-21">
                                                        Rất uy tính và linh hoạt
                                                    </p>
                                                </div>
                                                <div class="frame-52">
                                                    <p class="text-wrapper-22">
                                                        Ly Huy
                                                    </p>
                                                    <p class="text-wrapper-23">
                                                        #lyhuy0509
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="frame-40">
                                            <div class="frame-41">
                                                <div class="frame-42">
                                                    <div class="frame-43">
                                                        <div class="frame-43">
                                                            <div
                                                                class="frame-44"
                                                            >
                                                                <img
                                                                    class="avt-nh"
                                                                    src="/assets/images/avt-nhỏ.svg"
                                                                    alt="Avatar của Quang"
                                                                />
                                                                <div
                                                                    class="star-box-small"
                                                                >
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="ystar"
                                                                    >
                                                                    </div>
                                                                    <div
                                                                        class="gstar"
                                                                    >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="text-wrapper-18">
                                                        Nó đỉnh cao vậy!
                                                    </p>
                                                </div>
                                                <div class="frame-46">
                                                    <p class="text-wrapper-19">
                                                        Quang
                                                    </p>
                                                    <p class="text-wrapper-20">
                                                        #quan0509
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <nav
                                        class="frame-53"
                                        aria-label="Điều hướng đánh giá"
                                    >
                                        <button
                                            class="ellipse"
                                            type="button"
                                            aria-label="Đánh giá 1"></button>
                                        <button
                                            class="ellipse"
                                            type="button"
                                            aria-label="Đánh giá 2"></button>
                                        <button
                                            class="ellipse-2"
                                            type="button"
                                            aria-label="Đánh giá 3"
                                            aria-current="true"></button>
                                        <button
                                            class="ellipse"
                                            type="button"
                                            aria-label="Đánh giá 4"></button>
                                        <button
                                            class="ellipse"
                                            type="button"
                                            aria-label="Đánh giá 5"></button>
                                    </nav>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <div class="box-home-wrapper">
                    <button class="home-wrapper"
                        ><span class="home-2">Chia sẻ</span></button
                    >
                    <button class="home-wrapper1"
                        ><span class="home-2">Chỉnh sửa</span></button
                    >
                </div>
            </div>
        </main>
    </body>
</DefaultLayout>
