---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/ban-giao-du-an-nguoi-cong-tac.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <Header />
    <main>
        <div class="project-handover">
            <div class="inner-project-handover container">
                <div class="project-handover-title">
                    {t('projectHandover-collaborator.title')}
                </div>
                <div class="project-handover-body">
                    <div class="project-handover-section">
                        <label class="project-handover-label"
                            >{
                                t('projectHandover-collaborator.description')
                            }</label
                        >
                        <textarea class="project-handover-textarea"></textarea>
                    </div>
                    <div class="project-handover-section">
                        <label class="project-handover-label"
                            >{t('projectHandover-collaborator.notes')}</label
                        >
                        <div class="project-handover-note">
                            {t('projectHandover-collaborator.project1')}
                            <br />
                            {t('projectHandover-collaborator.project2')}
                        </div>
                    </div>
                    <div class="project-handover-upload">
                        <label class="project-handover-label"
                            >{t('projectHandover-collaborator.upload')}</label
                        >
                        <div class="project-handover-upload-box">
                            <button class="upload-box-button">
                                <img
                                    src="/assets/images/solar_upload-square-outline.svg"
                                    alt="icon"
                                />
                                {t('projectHandover-collaborator.uploadhere')}
                            </button>
                            <div class="upload-box-list">
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'projectHandover-collaborator.file'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-success"></span>
                                </div>
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'projectHandover-collaborator.file'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-success"></span>
                                </div>
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'projectHandover-collaborator.file'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-error"></span>
                                </div>
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'projectHandover-collaborator.file'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-pending"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="project-handover-submit"
                    >{t('projectHandover-collaborator.send')}</button
                >
            </div>
        </div>
    </main>
</DefaultLayout>
