---
import '@/assets/css/project-search.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <Header />
    <div class="container">
        <div class="title">
            <h1>{t('project-search.title')}</h1>
        </div>
        <div class="search-container">
            <div class="search-bar">
                <div class="icon-search">
                    <img src="/assets/images/Icon-search.svg" alt="" />
                </div>
                <input
                    type="text"
                    id="searchInput"
                    placeholder={t('project-search.enterKeywords')}
                />
            </div>
        </div>
        <div class="content">
            <div class="project">
                <div class="project-container">
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/project-image.svg" alt="" />
                        <div class="project-content">
                            <div class="left-project-content">
                                <div class="design-web">
                                    {t('project-search.designWeb')}
                                </div>
                                <div class="email-address">
                                    buithaivy2019@gmail.com
                                </div>
                            </div>
                            <div class="right-project-content">
                                <div class="interact">
                                    <div class="eyes">
                                        <img
                                            src="/assets/images/teenyicons_eye-outline.svg"
                                            alt=""
                                        />
                                        990
                                    </div>
                                    <div class="like">
                                        <img
                                            src="/assets/images/solar_like-outline.svg"
                                            alt=""
                                        />
                                        500
                                    </div>
                                </div>
                                <div class="view-more">
                                    {t('project-search.viewMore')}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
