---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/project-handover-collaborator.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <main>
        <div class="project-handover">
            <div class="inner-project-handover container">
                <div class="project-handover-title">
                    {t('projectHandover-collaborator.title')}
                </div>
                <div class="project-handover-body">
                    <div class="project-handover-section">
                        <label class="project-handover-label"
                            >{t('projectHandover-collaborator.notes')}</label
                        >
                        <div class="project-handover-note">
                            {t('projectHandover-collaborator.project1')}
                            <br />
                            {t('projectHandover-collaborator.project2')}
                        </div>
                    </div>
                </div>    
                <div class="box-project-handover-submit">
                    <button class="project-handover-submit1">
                        {t('projectHandover-collaborator.back')}
                    </button>
                    <button class="project-handover-submit2">
                        {t('projectHandover-collaborator.send')}
                    </button>
                </div>
            </div>
        </div>
    </main>
</DefaultLayout>
