---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/gui-ung-tuyen.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <Header />
    <div class="ung-tuyen">
        <div class="ung-tuyen-container">
            <div class="ung-tuyen-section">
                <div class="title">
                    <h1>{t('submit-application.title')}</h1>
                    <div class="mo-ta">
                        {t('submit-application.mo-ta')}
                    </div>
                </div>
                <div class="ung-tuyen-content">
                    <div class="reason">
                        <h5>{t('submit-application.reason')}</h5>
                    </div>
                    <textarea
                        class="reason-input"
                        placeholder={t('submit-application.reason-input')}
                    ></textarea>
                    <div class="cv">
                        <h5>{t('submit-application.cv')}</h5>
                        <div class="upload">
                            <div class="file-upload">
                                <a href=""
                                    ><img
                                        src="./assets/gui-ung-tuyen/-square-outline.svg"
                                        alt=""
                                    />
                                </a>

                                <div class="here">
                                    {t('submit-application.here')}
                                </div>
                            </div>
                            <div class="file-name">
                                <input
                                    class="first-name"
                                    type="text"
                                    id="first-name"
                                    placeholder={t(
                                        'submit-application.file-name'
                                    )}
                                />
                                <button class="button-1"></button>
                                <img
                                    class="folder-image-1"
                                    src="./assets/gui-ung-tuyen/solar_file-outline.svg"
                                    alt=""
                                />
                                <input
                                    class="second-name"
                                    type="text"
                                    id="second-name"
                                    placeholder={t(
                                        'submit-application.file-name'
                                    )}
                                />
                                <button class="button-2"></button>
                                <img
                                    class="folder-image-2"
                                    src="./assets/gui-ung-tuyen/solar_file-outline.svg"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send-button">
                    <button class="send-button-2"
                        >{t('submit-application.send-button-2')}</button
                    >
                    <button class="send-button-1"
                        >{t('submit-application.send-button-1')}</button
                    >
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
