---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import '@/assets/css/gui-ung-tuyen.css';
import Header from '@/components/Header.astro';
import { getStaticPaths, useTranslate } from '@/i18n';
export { getStaticPaths };

const { lang, t, l } = useTranslate(Astro);
---

<DefaultLayout>
    <Header />
    <div class="ung-tuyen">
        <div class="ung-tuyen-container">
            <div class="ung-tuyen-section">
                <div class="title">
                    <h1>{t('submit-application.title')}</h1>
                    <div class="mo-ta">
                        {t('submit-application.mo-ta')}
                    </div>
                </div>
                <div class="ung-tuyen-content">
                    <div class="reason">
                        <h5>{t('submit-application.reason')}</h5>
                    </div>
                    <textarea
                        class="reason-input"
                        placeholder={t('submit-application.reason-input')}
                    ></textarea>
                    <div class="cv">
                        <h5>{t('submit-application.cv')}</h5>
                        <div class="upload">
                            <button class="upload-box-button">
                                <img
                                    src="/assets/images/solar_upload-square-outline.svg"
                                    alt="icon"
                                />
                                {t('submit-application.here')}
                            </button>

                            <div class="upload-box-list">
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'submit-application.file-name'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-success"></span>
                                </div>
                                <div class="upload-item">
                                    <div class="upload-item-info">
                                        <img
                                            src="/assets/images/solar_file-outline.svg"
                                            alt="icon"
                                        />
                                        <span class="upload-item-name"
                                            >{
                                                t(
                                                    'submit-application.file-name'
                                                )
                                            }</span
                                        >
                                    </div>
                                    <span class="upload-item-error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send-button">
                    <button class="send-button-2"
                        >{t('submit-application.send-button-2')}</button
                    >
                    <button class="send-button-1"
                        >{t('submit-application.send-button-1')}</button
                    >
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
